*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2E2E31;
    font-family: poppins;
    color: white;
}
#background{
    background:linear-gradient(rgba(0, 0, 0, 0.95), rgba(19, 18, 18, 0.95)), url("/img/fcf8559d17921a854db659e96c50967e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    padding: 30px;
    background-color: rgba(46, 46, 49, 0.5);
}
#brand{
    color: #F58F7C;
}
nav a{
    font-weight: bolder;
    border: 2px solid transparent;
    margin-left:20px;
    margin-right:20px

}
nav a:hover{
    border-bottom: 2px solid #F2C4CE;
}
.main-row{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home p{
    font-size: x-large;
}
#home p:last-child{
    font-size: large;
}
#name{
    font-size: 70px !important;
    font-weight: 900;
}
#name inline{
    color: #F58F7C;
    
}
#dev{
    font-size: xx-large !important;
}
#about{
    margin: 5% 0 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about img{
    padding: 10px 0 0 13px;
    border-top: #F58F7C 10px solid;
    border-left: #F58F7C 10px solid;
}    
#details{
    font-weight: bold;
    font-size: large;
    padding: 2% 0 0 5%;
}
#details p inline{
    color: #F58F7C;
}
#me{
    font-size: xx-large;
    font-weight: bolder !important;
}